$font-family: "Fragment Mono", monospace;

$color-primary: #183144;
$color-bg01: #E9F0F6;
//$color-bg-cards: mix(#000, $color-bg01, 1%);
$color-bg-cards: #F3F6F8;

//Sombras,Container 
$box-shadow-card: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

body {
	font-family: $font-family;
	background: $color-bg01;
}